body {
  margin: 0;
  font-family: Arial, sans-serif;

  /* Fondo */
  background-image: url("../azul.jpg");
  background-size: cover; /* La imagen se ajusta a toda la pantalla */
  background-position: center; /* Centrada */
  background-repeat: no-repeat; /* No se repite */

  /* Ajuste de layout */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}
form {
  border-radius: 4rem;
  background: #043333;
  align-content: center;
  padding: 1.6rem;
}

form h1 {
  color: #93c3c3;
  font-family: "MiFuente";
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 3rem;
}

form a {
  color: #93c3c3;
}

form p {
  color: #93c3c3;
  padding: 1rem;
}

@font-face {
  font-family: "MiFuente";
  src: url("../Boldyguard\ Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

form input[type="submit"] {
  display: block;
  margin: 20px auto; /* Centra horizontalmente */
  background-color: #2e6e6e;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
