RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [QSA,L]

# Configuración de tipos de archivo
AddType application/x-httpd-php .php

# Configuración de directorio por defecto
DirectoryIndex index.php index.html